html,
body {
  overflow-y: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.app{
  max-width: 40rem;
  margin: auto;
  padding: 1.8rem;
}

.dark {
  background-color: #17181F;
  color: #fff;
}
.light {
  background-color: #677a8a;
  color: #333;
}

.darkMode{
  position: relative;
  top: 6rem;
  display: flex;
  justify-content: center;
}

.app{
  width: 15rem;
  height: 20rem;
  background-color:#e2e8ff;
  display: flex;
  justify-content: center;
  position: relative;
  top: 5rem;
  border-radius: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.header1{
  font-size: 1.4rem;
  font-weight: 500;
  color: white;
  position: relative;
  left: 3.6rem;
  bottom: 1.3rem;
}

.header2{
  font-size: 1.4rem;
  font-weight: 500;
  color: white;
  position: relative;
  left: 4.0rem;
  bottom: 1.3rem;
}

.header-div{
  width: 15rem;
  height: 1rem;
  border-radius: 0.7rem;
  background-color: #09497f;
  display: flex;
  max-width: 40rem;
  margin: auto;
  padding: 1.8rem;
  position: relative;
  top: 4rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.input-box{
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  position: absolute;
  top: 18rem;
  left: 4rem;
}

.input{
  border: 3px solid #09497f;
  border-radius: 0.4rem;
  
}

.input::placeholder{
  font-style: italic;
}

.button{
  width: 3.5rem;
  height: 2rem;
  border-radius: 18rem;
  border: none;
  background-color:#09497f;
  color: white;
  margin-top: 0.7rem;
  display: flex;
  align-self: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.button:disabled{
  background-color: grey;
}

.add-icon{
  color: white;
  font-size: 1rem;
  position: relative;
  top: 0.4rem;
}

.dropDown{
  position: absolute;
  left: 3rem;
  top: 0.5rem;
  font-family: Arial;
  display: block;
  width: 15em;
  height: 2em;
  line-height: 3;
}

select {
  outline: 0;
  background-color: #09497f;
  color: white;
  cursor: pointer;
  height: 1.5rem;
  width: 6.2rem;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
}

option{
  width: 2rem;
  height: 2rem;
}

.todoItem{
  width: 15rem;
  height: 2rem;
  margin-top: 1rem;
  position: relative;
  top: 1rem;
  display: flex;
  left: 1rem;
}

.todo-label-done{
  text-decoration: line-through;
  color: grey;
}

.todo-task{
  font-size: 20px;
  color: black;
}


.todo-check{
  margin-top: 0.3rem;
  width: 18px;
  height: 18px;
  margin-right: 1rem;
}

.delete-button{
  color: #09497f;
  border: none;
  font-size: 1.2rem;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  margin-left: 2rem;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

